{% extends 'base.html' %}

{% block title %}
  Dashboard App
{% endblock title%}

{% block content %}
<h1 class='text-center'> A presentation of github repo statistics </h1>
<div class='home-buttons'>
    <div class='text-center'>
        <a class='btn btn-lg text-light blue-bg' href="{% url 'table' %}">Tabular view: &nbsp;See<br>& Sort-by various stats</a>
    </div>
    <div class='text-center'>
        <a class='btn btn-lg text-light red-bg' href="{% url 'bar_chart' %}">See a bar chart view:<br> Size statistics</a>
    </div>
    <div class='text-center'>
        <a class='btn btn-lg text-light green-bg' href="{% url 'pie_chart' %}"><span>See languages in<br> your repo of choice</span></a>
    </div>
</div>
{% endblock %}