{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
<h1>Languages used</h1>
<form class="form" method="POST">
    {% csrf_token %}

        <!-- 
            <input type='text' name='domain' placeholder='github.com' value = "{{form.domain}}" id='id_domain'>
       

        <input type='text' name='user_name' placeholder='user_name' value="{{form.user_name}}" id='id_user_name'>
        
            <span>/</span>
     
        <input type='text' name='repo_name' placeholder='repo_name' value="{{repo_name}}" id="id_repo_name">
     -->
           
      
    {{form.as_p}}
     <button class="btn" type='submit'>Show</button> 
</form>
{% if pie_render %}
  <embed type="image/svg+xml" src={{ pie_render.decode |safe }}/>
{% endif %}
    
{% endblock %}