{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
<h1>A tabular view of Github repostitories</h1>
<table class="table">
<thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Stars</th>
      <th scope="col">Language</th>
      <th scope="col"></th>
    </tr>
</thead>
{% for repo in repos %}
  <tr>
    
    <td class="font-weight-bold"><span class='table-cell'>{{repo.name}}</span></td>

    <td><span class='table-cell'>
      {% if repo.size < 1000 %}
        {{repo.size}} kb
      {% else %}
        {{repo.size|div:1024|floatformat:2}} MB
      {% endif %}
    </span>
    </td>

 
    <td><span class='table-cell'>{{repo.stargazers_count}}</span></td>
  

    <td><span class='table-cell'>{{repo.language}}</span></td>
 
    <td><a class='btn btn-success' href={{repo.html_url}}>View</a></td>
  </tr>
{% endfor %}

</table>
{% endblock %}